/* Create post main container */
.create-post-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 60%;
    overflow: hidden;
    /* Prevent body scroll */
    border: 1px solid black;
    margin-top: 7rem;
    border-radius: 1rem;
    padding: 1.2rem;
    height: 25rem;
}



/* Create post header */
.create-post-header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.create-post-header h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.375rem;
    font-weight: 700;
    color: #000000;
    margin: 0;
    text-align: left;
}



/* Create post title */
.create-post-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 1rem 0;
}

.create-post-title label {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    align-self: flex-start;
}

.create-post-title input {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
}


/* Create post content */
.create-post-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 1rem 0;
}

.create-post-content label {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    align-self: flex-start;
}

.create-post-content textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    width: 100%;
    height: 7.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    resize: none;
}


/* Create post button */
.create-post-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0.15rem;
}

.create-post-button button {
    border-radius: 8px;
    border: none;
    background-color: #7695EC;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    width: 8rem;
}

.create-post-button button:hover {
    background-color: #fff;
    color: #7695EC;
    transition: all 0.3s ease;
    border: 3px solid #7695EC;
}


/* Paragraph */
.post-page-paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    margin-top: 3rem;
    text-align: center;
}



/* Media queries for a screen smaller than 6.1 inches (mobile devices) */
@media (max-width: 414px) {
    .create-post-main {
        width: 90%;
        height: 25rem;
    }
}
