/* Post delete modal hidden */
.post-delete-modal-hidden {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}


/* Post delete modal main */
.post-delete-modal-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 60%;
    overflow: hidden;
    border: 1px solid black;
    margin-top: 1.5rem;
    border-radius: 1rem;
    height: 20rem;
}


/* Post delete modal header */
.post-delete-modal-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #7695EC;
    padding: 1.2rem;
    border-radius: 1rem 1rem 0 0;
    height: 5rem;
}

.post-delete-modal-header h1 {
    font-size: 1.375rem;
    font-weight: 700;
    margin: 0;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}


/* Post delete modal body */
.post-delete-modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    height: 10rem;
}

.post-delete-modal-body p {
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

.post-delete-modal-body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}



/* Post delete modal buttons */
.post-delete-modal-buttons {
    display: flex;
    width: 30%;
    column-gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    border-radius: 0 0 1rem 1rem;
    height: 5rem;
}

.post-delete-modal-cancel-button,
.post-delete-modal-delete-button {
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    background-color: #7695EC;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    width: 8rem;
    height: 3rem;
}

.post-delete-modal-cancel-button:hover {
    background-color: #5a7bd6;
}

.post-delete-modal-delete-button:hover {
    background-color: red;
}


@media screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2),
screen and (max-width: 600px) and (min-resolution: 192dpi) {
    .post-delete-modal-main {
        width: 90%;
        height: 20rem;
    }

    .post-delete-modal-header h1 {
        font-size: 1.1rem;
    }

    .post-delete-modal-body p,
    .post-delete-modal-body h3 {
        font-size: 0.9rem;
    }

    .post-delete-modal-buttons {
        width: 60%;
    }

    .post-delete-modal-cancel-button,
    .post-delete-modal-delete-button {
        font-size: 0.9rem;
        width: 6rem;
        height: 2.5rem;
    }
}
